html, body {
  padding: 0;
  margin: 0;
}

body {
  padding-top: 70px;
}

.nav-up {
    /* 70px (header height) + 1px (border) + 5px (focus glow) */
    top: -76px;
}

header {
  background: rgba(255,255,255,.95);
  height: var(--header-height);
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  box-sizing: content-box;
  transition: top 0.3s ease-in-out;
  z-index: 100;

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: var(--header-heigth);

    .left {
      order: 0;

    }

    .center {
      order: 1;
      align-self: center;
      position: relative;

      font-size: 24px;
    }
  
    .right {
      order: 2;
      align-self: right;
      padding: 20px;
    }
  }


}